@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 微軟正黑體;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

a {
  color: unset;
}

a:hover {
  color: unset;
  text-decoration: unset;
}

a:visited {
  color: unset;
}

h1 {
  font-weight: bold;
  font-size: 44px;
}

h2 {
  font-weight: 100;
  font-size: 40px;
}

h3 {
  font-weight: normal;
  font-size: 30px;
}

h4 {
  font-weight: bold;
  font-size: 25px;
}

h5 {
  font-weight: normal;
  font-size: 24px;
}

h6 {
  font-weight: normal;
  font-size: 20px;
}

ul,
ol {
  list-style: none;
  margin: 0%;
}

p {
  font-size: 18px;
  margin: 0%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.banner {
  position: relative;
}

.banner .swiper-container {
  width: 100%;
  height: 100vh;
}

.banner .logo {
  background-image: url(/img/index/CHOMEET-LOGO-White.svg);
  background-size: 110%;
  background-position: -5px 0px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 310px;
  left: calc(50% - 50px);
  z-index: 1;
}

@media (min-width: 576px) {
  .banner .logo {
    background-position: -15px 0px;
    width: 150px;
    height: 150px;
    left: calc(50% - 75px);
  }
}

@media (min-width: 768px) {
  .banner .logo {
    width: 240px;
    height: 240px;
    top: 312px;
    left: calc(50% - 120px);
  }
}

.banner .text {
  z-index: 1;
  position: absolute;
  top: 415px;
  font-family: "Noto Serif TC", serif;
}

@media (min-width: 576px) {
  .banner .text {
    top: 560px;
  }
}

.banner .text h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "Noto Serif TC", serif;
}

@media (min-width: 576px) {
  .banner .text h1 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .banner .text h1 {
    font-size: 54px;
  }
}

.banner .text h3 {
  text-align: center;
  font-size: 16px;
  color: white;
  color: white;
  font-family: "Noto Serif TC", serif;
}

.banner .text h3:nth-child(2) {
  margin-bottom: 35px;
}

@media (min-width: 576px) {
  .banner .text h3 {
    font-size: 24px;
  }
  .banner .text h3:nth-child(2) {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .banner .text h3 {
    font-size: 40px;
  }
  .banner .text h3:nth-child(2) {
    margin-bottom: 75px;
  }
}

.section-1 {
  padding-top: 80px;
  position: relative;
}

@media (min-width: 768px) {
  .section-1 {
    padding-top: 150px;
  }
}

.section-1 .container {
  max-width: 85%;
}

@media (min-width: 992px) {
  .section-1 .container {
    max-width: 1530px;
  }
}

@media (min-width: 768px) {
  .section-1 .container {
    max-width: 90%;
  }
}

.section-1 .container .title {
  letter-spacing: 5px;
}

.section-1 .container .title h1 {
  font-size: 44px;
  margin-bottom: 5px;
  color: #4d4d4d;
}

.section-1 .container .title h5 {
  margin-bottom: 50px;
  margin-left: 225px;
  color: gray;
  position: relative;
}

@media (min-width: 1205px) {
  .section-1 .container .title h5 {
    margin-bottom: 95px;
  }
}

.section-1 .container .title h5::after {
  content: "";
  width: 190px;
  height: 2px;
  background-color: #bb916d;
  position: absolute;
  left: -200px;
  top: 50%;
}

.section-1 .container .pic {
  position: relative;
}

.section-1 .container .pic::after {
  content: "";
  width: 90%;
  height: 100%;
  background-color: #d7c5bb;
  position: absolute;
  right: -8.8%;
  top: 6%;
  z-index: -1;
}

@media (min-width: 768px) {
  .section-1 .container .pic::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #d7c5bb;
    position: absolute;
    left: 30px;
    bottom: 20px;
    z-index: -1;
  }
}

.section-1 .container .pic .pic-sm {
  position: absolute;
  bottom: -150px;
  left: -60px;
  z-index: 1;
  width: auto;
}

.section-1 .container .text {
  padding-left: 0px;
}

@media (min-width: 768px) {
  .section-1 .container .text {
    padding-left: 90px;
  }
}

.section-1 .container .text .title {
  letter-spacing: 5px;
}

.section-1 .container .text .title h1 {
  font-size: 44px;
  margin-bottom: 5px;
  color: #4d4d4d;
}

.section-1 .container .text .title h5 {
  margin-bottom: 50px;
  margin-left: 225px;
  color: gray;
  position: relative;
}

@media (min-width: 1205px) {
  .section-1 .container .text .title h5 {
    margin-bottom: 95px;
  }
}

.section-1 .container .text .title h5::after {
  content: "";
  width: 190px;
  height: 2px;
  background-color: #bb916d;
  position: absolute;
  right: 110px;
  top: 50%;
}

.section-1 .container .text p {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 60px;
  margin-top: 70px;
}

@media (min-width: 1205px) {
  .section-1 .container .text p {
    margin-bottom: 140px;
  }
}

@media (min-width: 768px) {
  .section-1 .container .text p {
    margin-top: 0px;
  }
}

.section-1 .container .text .link {
  width: 200px;
  height: 60px;
  padding-bottom: 10px;
  padding-right: 20px;
  position: relative;
  font-size: 24px;
  color: #bb916d;
}

.section-1 .container .text .link i {
  font-size: 30px;
}

.section-1 .container .text .link::after {
  content: "";
  width: 147px;
  height: 1px;
  background-color: #bb916d;
  position: absolute;
  right: 0px;
  top: 50px;
}

.section-1 .container .text .link:hover {
  color: white;
  font-weight: bold;
  background-color: #964915;
  opacity: 0.6;
}

.section-1 .container .text .link:hover::after {
  background-color: white;
  height: 3px;
}

.pics-1 {
  position: relative;
  margin-top: 130px;
}

@media (min-width: 992px) {
  .pics-1 {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .pics-1 .beans {
    content: url(/img/index/index-new-bean-01-600x310.png);
  }
}

.pics-1 .pic-md {
  position: absolute;
  top: -80px;
  right: 0%;
  z-index: -1;
}

@media (min-width: 992px) {
  .pics-1 .pic-md {
    top: 150px;
  }
}

.pics-1 .pic-md img {
  width: 100%;
  height: 175px;
}

@media (min-width: 992px) {
  .pics-1 .pic-md img {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .pics-1 .pic-md img {
    height: 375px;
  }
}

.section-2 {
  position: relative;
  padding-top: 0px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .section-2 {
    padding-top: 60px;
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .section-2 {
    padding-top: 175px;
  }
}

@media (min-width: 1205px) {
  .section-2 {
    padding-top: 100px;
  }
}

.section-2 .container {
  max-width: 85%;
}

@media (min-width: 768px) {
  .section-2 .container {
    max-width: 100%;
  }
}

.section-2 .container .row .title {
  letter-spacing: 5px;
}

.section-2 .container .row .title h1 {
  font-size: 44px;
  color: #4d4d4d;
  margin-bottom: 10px;
}

.section-2 .container .row .title h5 {
  margin-bottom: 30px;
  margin-left: 255px;
  color: gray;
  position: relative;
}

@media (min-width: 768px) {
  .section-2 .container .row .title h5 {
    margin-bottom: 95px;
  }
}

.section-2 .container .row .title h5::after {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #bb916d;
  position: absolute;
  left: -220px;
  top: 50%;
}

.section-2 .container .row .text {
  padding: 0px;
}

@media (min-width: 768px) {
  .section-2 .container .row .text {
    padding: 0 30px;
  }
}

@media (min-width: 992px) {
  .section-2 .container .row .text {
    padding-left: 70px;
    padding-right: 200px;
    padding-top: 100px;
  }
}

.section-2 .container .row .text .title {
  letter-spacing: 5px;
}

.section-2 .container .row .text .title h1 {
  font-size: 44px;
  color: #4d4d4d;
  margin-bottom: 10px;
}

.section-2 .container .row .text .title h5 {
  margin-bottom: 95px;
  margin-left: 255px;
  color: gray;
  position: relative;
}

.section-2 .container .row .text .title h5::after {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #bb916d;
  position: absolute;
  left: -220px;
  top: 50%;
}

.section-2 .container .row .text p {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .section-2 .container .row .text p {
    margin-bottom: 100px;
  }
}

@media (min-width: 1205px) {
  .section-2 .container .row .text p {
    margin-bottom: 175px;
  }
}

.section-2 .container .row .text .link {
  width: 200px;
  height: 60px;
  padding-bottom: 10px;
  padding-right: 20px;
  position: relative;
  font-size: 24px;
  color: #bb916d;
}

.section-2 .container .row .text .link i {
  font-size: 30px;
}

.section-2 .container .row .text .link::after {
  content: "";
  width: 147px;
  height: 1px;
  background-color: #bb916d;
  position: absolute;
  right: -25px;
  top: 45px;
}

.section-2 .container .row .text .link:hover {
  color: white;
  font-weight: bold;
  background-color: #964915;
  opacity: 0.6;
}

.section-2 .container .row .text .link:hover::after {
  background-color: white;
  height: 3px;
}

@media (min-width: 768px) {
  .section-2 .container .row .pic:first-child {
    content: url(/img/index/introduction-01-550x640.png);
  }
}

@media (min-width: 768px) {
  .section-2 .container .row .pic:nth-child(2) {
    content: url(/img/index/introduction-02-550x640.png);
  }
}

@media (min-width: 768px) {
  .section-2 .container .row .pic:nth-child(3) {
    content: url(/img/index/introduction-03-550x640.png);
  }
}

@media (min-width: 768px) {
  .section-2 .container .row .pic:last-child {
    content: url(/img/index/introduction-04-550x640.png);
  }
}

.section-2 .container .row .pic img {
  width: 100%;
}

.section-3 {
  margin-bottom: 90px;
}

.section-3 .container {
  max-width: 100%;
  margin: auto;
  position: relative;
}

@media (min-width: 768px) {
  .section-3 .container {
    max-width: 95%;
  }
}

.section-3 .container .pic-sm-index {
  position: absolute;
  width: 20%;
  height: auto;
  z-index: 1;
}

@media (min-width: 768px) {
  .section-3 .container .pic-sm-index {
    top: -7%;
    right: 0%;
  }
}

@media (min-width: 992px) {
  .section-3 .container .pic-sm-index {
    top: -10%;
    right: 0%;
  }
}

@media (min-width: 1205px) {
  .section-3 .container .pic-sm-index {
    top: -23%;
    right: -2%;
  }
}

@media (min-width: 1500px) {
  .section-3 .container .pic-sm-index {
    top: -23%;
    right: 0%;
  }
}

.section-3 .container .pic-sm-phone {
  position: absolute;
  width: 20%;
  height: auto;
  z-index: 1;
  top: 5%;
  right: 0%;
}

.section-3 .container .title {
  letter-spacing: 5px;
}

.section-3 .container .title h1 {
  font-size: 44px;
  margin-bottom: 10px;
  color: #4d4d4d;
}

.section-3 .container .title h5 {
  margin-bottom: 25px;
  margin-left: 245px;
  color: gray;
  position: relative;
}

.section-3 .container .title h5::after {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #bb916d;
  position: absolute;
  left: -210px;
  top: 50%;
}

.section-3 .container .news-area {
  background-color: #dccfc9;
  padding: 35px 55px;
  position: relative;
}

@media (min-width: 768px) {
  .section-3 .container .news-area {
    padding: 100px 120px;
  }
}

.section-3 .container .news-area .title {
  margin-bottom: 100px;
  letter-spacing: 5px;
}

.section-3 .container .news-area .title h1 {
  font-size: 44px;
  margin-bottom: 10px;
  color: #4d4d4d;
}

.section-3 .container .news-area .title h5 {
  margin-bottom: 95px;
  margin-left: 245px;
  color: gray;
  position: relative;
}

.section-3 .container .news-area .title h5::after {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #bb916d;
  position: absolute;
  left: -210px;
  top: 50%;
}

@media (min-width: 1500px) {
  .section-3 .container .news-area .col-md-12 .second {
    margin-left: 145px;
  }
}

.section-3 .container .news-area .col-md-12 .news-group {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1500px) {
  .section-3 .container .news-area .col-md-12 .news-group {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.section-3 .container .news-area .col-md-12 .news {
  margin-bottom: 50px;
  margin-right: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 768px) {
  .section-3 .container .news-area .col-md-12 .news {
    margin-right: 50px;
  }
}

.section-3 .container .news-area .col-md-12 .news .date {
  min-width: 90px;
  height: 90px;
  background-color: #c6a280;
  position: relative;
}

@media (min-width: 768px) {
  .section-3 .container .news-area .col-md-12 .news .date {
    width: 210px;
    height: 210px;
  }
}

.section-3 .container .news-area .col-md-12 .news .date .month {
  font-size: 30px;
  font-weight: 100;
  color: white;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .section-3 .container .news-area .col-md-12 .news .date .month {
    font-size: 68px;
    padding-left: 20px;
  }
}

.section-3 .container .news-area .col-md-12 .news .date .day {
  font-size: 30px;
  font-weight: 100;
  color: white;
  text-align: right;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .section-3 .container .news-area .col-md-12 .news .date .day {
    font-size: 68px;
    padding-right: 20px;
  }
}

.section-3 .container .news-area .col-md-12 .news .date .fa-slash {
  font-size: 50px;
  font-weight: 100;
  color: white;
  -webkit-transform: rotate(275deg);
          transform: rotate(275deg);
  position: absolute;
  top: 22%;
  left: 15%;
}

@media (min-width: 768px) {
  .section-3 .container .news-area .col-md-12 .news .date .fa-slash {
    font-size: 130px;
    top: 20%;
    left: 10%;
  }
}

.section-3 .container .news-area .col-md-12 .news .date:hover {
  content: url("http://dummyimage.com/90x90/eb00eb/fff");
}

@media (min-width: 768px) {
  .section-3 .container .news-area .col-md-12 .news .date:hover {
    content: url("http://dummyimage.com/210x210/eb00eb/fff");
  }
}

.section-3 .container .news-area .col-md-12 .news .text {
  position: relative;
  background-color: white;
  padding: 10px 20px 0 10px;
  border-radius: 0px 10px 10px 0;
  width: 100%;
}

@media (min-width: 768px) {
  .section-3 .container .news-area .col-md-12 .news .text {
    padding: 28px 43px 65px 30px;
    width: 60%;
    border-radius: 0px 20px 20px 0;
  }
}

.section-3 .container .news-area .col-md-12 .news .text h3 {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .section-3 .container .news-area .col-md-12 .news .text h3 {
    font-size: 30px;
  }
}

.section-3 .container .news-area .col-md-12 .news .text p {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@media (min-width: 768px) {
  .section-3 .container .news-area .col-md-12 .news .text p {
    font-size: 18px;
    -webkit-line-clamp: 3;
  }
}

.section-3 .container .news-area .col-md-12 .news .text .more {
  font-size: 14px;
  position: absolute;
  bottom: 15px;
  left: 3%;
}

@media (min-width: 768px) {
  .section-3 .container .news-area .col-md-12 .news .text .more {
    font-size: 20px;
    bottom: 22px;
    left: 69%;
  }
}

.section-3 .container .news-area .link {
  width: 200px;
  height: 60px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: center;
  position: relative;
  font-size: 24px;
  text-decoration: none;
  color: #bb916d;
}

.section-3 .container .news-area .link i {
  font-size: 30px;
}

.section-3 .container .news-area .link::after {
  content: "";
  width: 140px;
  height: 1px;
  background-color: #bb916d;
  position: absolute;
  left: 60px;
  top: 45px;
}

.section-3 .container .news-area .link:hover {
  color: white;
  font-weight: bold;
  background-color: #964915;
  opacity: 0.6;
}

.section-3 .container .news-area .link:hover::after {
  background-color: white;
  height: 3px;
}

.section-3 .container .link {
  width: 200px;
  height: 60px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: center;
  margin-top: 25px;
  position: relative;
  font-size: 24px;
  text-decoration: none;
  color: #bb916d;
}

.section-3 .container .link i {
  font-size: 30px;
}

.section-3 .container .link::after {
  content: "";
  width: 140px;
  height: 1px;
  background-color: #bb916d;
  position: absolute;
  left: 60px;
  top: 45px;
}

.section-3 .container .link:hover {
  color: white;
  font-weight: bold;
  background-color: #964915;
  opacity: 0.6;
}

.section-3 .container .link:hover::after {
  background-color: white;
  height: 3px;
}

.section-4 {
  position: relative;
  margin-bottom: 140px;
}

.section-4 .pic {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 350px;
  position: relative;
  z-index: -1;
}

@media (min-width: 768px) {
  .section-4 .pic {
    height: 850px;
  }
}

.section-4 .container {
  max-width: 1220px;
  position: absolute;
  top: calc(50% - 112px);
  left: 0;
  z-index: 1;
}

@media (min-width: 1205px) {
  .section-4 .container {
    left: calc(50% - 610px);
  }
}

.section-4 .container .text h1 {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .section-4 .container .text h1 {
    font-size: 44px;
  }
}

.section-5 {
  margin-bottom: 80px;
}

.section-5 .container {
  max-width: 1920px;
}

.section-5 .container .title {
  letter-spacing: 5px;
  text-align: center;
}

.section-5 .container .title h1 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #4d4d4d;
}

.section-5 .container .title h5 {
  margin-bottom: 95px;
  color: gray;
  position: relative;
}

.section-5 .container .title h5::after {
  content: "";
  width: 200px;
  height: 3px;
  background-color: #bb916d;
  position: absolute;
  top: 40px;
  left: calc(50% - 100px);
}

.section-5 .container .swiper-container {
  margin-bottom: 65px;
}

.section-5 .container .swiper-container .swiper-slide .card {
  position: relative;
}

.section-5 .container .swiper-container .swiper-slide .card .card-img-top {
  width: auto;
  -webkit-transition-duration: 0.5s ease;
          transition-duration: 0.5s ease;
}

.section-5 .container .swiper-container .swiper-slide .card .card-body {
  padding-top: 28px;
}

.section-5 .container .swiper-container .swiper-slide .card .card-body .product_name {
  margin-bottom: 16px;
  font-weight: bold;
}

.section-5 .container .swiper-container .swiper-slide .card .card-body .price {
  text-align: end;
  font-size: 18px;
  font-weight: bold;
}

.section-5 .container .swiper-container .swiper-slide .card .card-body .content {
  font-size: 18px;
}

.section-5 .container .link {
  width: 200px;
  height: 60px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: center;
  position: relative;
  font-size: 24px;
  color: #bb916d;
}

.section-5 .container .link i {
  font-size: 25px;
}

.section-5 .container .link::after {
  content: "";
  width: 160px;
  height: 1px;
  background-color: #bb916d;
  position: absolute;
  left: 40px;
  top: 45px;
}

.section-5 .container .link:hover {
  color: white;
  font-weight: bold;
  background-color: #964915;
  opacity: 0.6;
}

.section-5 .container .link:hover::after {
  background-color: white;
  height: 3px;
}

.pics {
  margin-top: 150px;
}

@media (min-width: 576px) {
  .pics {
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .pics {
    margin-top: 80px;
  }
}

@media (min-width: 992px) {
  .pics {
    margin-top: 150px;
  }
}

@media (min-width: 1205px) {
  .pics {
    margin-top: 250px;
  }
}

.pics .pic-gray {
  width: 100%;
  height: 150px;
  background-color: #eeeceb;
}

@media (min-width: 1205px) {
  .pics .pic-gray {
    height: 225px;
  }
}

.pics .pic-brown {
  width: 85%;
  height: 30px;
  background-color: #c9b8ac;
  position: relative;
}

@media (min-width: 768px) {
  .pics .pic-brown {
    height: 60px;
  }
}

@media (min-width: 1205px) {
  .pics .pic-brown {
    height: 85px;
  }
}

.pics .pic-brown img {
  width: 120%;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  right: 0%;
}

@media (min-width: 576px) {
  .pics .pic-brown img {
    content: url(/img/index/decorate-coco02-1800x545.jpg);
    bottom: 100%;
    right: 18%;
  }
}

@media (min-width: 768px) {
  .pics .pic-brown img {
    bottom: 100%;
    right: 18%;
  }
}
/*# sourceMappingURL=index.css.map */