@charset "UTF-8";
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 微軟正黑體;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

a {
  color: unset;
}

a:hover {
  color: unset;
  text-decoration: unset;
}

a:visited {
  color: unset;
}

h1 {
  font-weight: bold;
  font-size: 44px;
}

h2 {
  font-weight: 100;
  font-size: 40px;
}

h3 {
  font-weight: normal;
  font-size: 30px;
}

h4 {
  font-weight: bold;
  font-size: 25px;
}

h5 {
  font-weight: normal;
  font-size: 24px;
}

h6 {
  font-weight: normal;
  font-size: 20px;
}

ul,
ol {
  list-style: none;
  margin: 0%;
}

p {
  font-size: 18px;
  margin: 0%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  margin: 0;
}

.banner {
  background-image: url(/img/product/product-banner-1920x575.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 575px;
  position: relative;
  margin-bottom: 135px;
}

.banner .title {
  width: 510px;
  height: 145px;
  text-align: center;
  background-color: white;
  position: absolute;
  bottom: -50px;
  left: calc(50% - 255px);
}

.banner .title h1 {
  margin-top: 47px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #4c4c4b;
}

.banner .title h6 {
  margin-top: 28px;
  letter-spacing: 5px;
  color: #808080;
}

.section-1 {
  background-image: url(/img/product/product-1920x750.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 100px;
}

.section-1 .types {
  background-color: white;
}

.section-1 .types .type h3 {
  width: 260px;
  height: 90px;
  line-height: 90px;
}

.section-1 .types .type h3:hover {
  position: relative;
  border-top: 3px solid #d0ae85;
  border-right: 3px solid #d0ae85;
  border-left: 3px solid #d0ae85;
}

.section-1 .types .type h3:hover::after {
  content: "";
  width: 60%;
  height: 3px;
  background-color: #d0ae85;
  position: absolute;
  top: 80%;
  left: 20%;
}

.section-1 .container {
  max-width: 1570px;
}

.section-1 .container .pic {
  margin-top: 90px;
  position: relative;
}

.section-1 .container .pic .rank {
  width: 160px;
  height: 70px;
  background-color: #f5e2d6;
  position: absolute;
  top: 30px;
  left: 0px;
}

.section-1 .container .pic .rank .rank-no {
  font-size: 30px;
  padding-bottom: 7px;
}

.section-1 .container .pic .rank .rank-num {
  font-size: 50px;
  font-weight: bold;
}

.section-1 .container .text {
  padding: 180px 0 95px 135px;
}

.section-1 .container .text h3 {
  font-size: 36px;
  letter-spacing: 3px;
  position: relative;
}

.section-1 .container .text h3::after {
  position: absolute;
  top: 90px;
  left: 0px;
  content: "";
  width: 260px;
  height: 3px;
  background-color: #c69c6d;
}

.section-1 .container .text .content {
  margin-bottom: 80px;
}

.section-1 .container .text .content ul {
  padding-left: 0;
}

.section-1 .container .text .content ul li {
  font-size: 20px;
  line-height: 50px;
}

.section-1 .container .text .add-cart {
  margin-left: 80px;
}

.section-1 .container .text .add-cart .qty {
  width: 200px;
  height: 45px;
  background-color: #b9afa7;
  border-radius: 10px;
}

.section-1 .container .text .add-cart .qty .subBtn {
  margin-left: 30px;
  font-size: 20px;
  color: white;
}

.section-1 .container .text .add-cart .qty #number {
  width: 40px;
  text-align: center;
  background-color: #b9afa7;
  border: none;
}

.section-1 .container .text .add-cart .qty #number::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

.section-1 .container .text .add-cart .qty #number:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.section-1 .container .text .add-cart .qty #number::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.section-1 .container .text .add-cart .qty #number::placeholder {
  color: white;
  opacity: 1;
}

.section-1 .container .text .add-cart .qty .addBtn {
  margin-right: 30px;
  font-size: 20px;
  color: white;
}

.section-1 .container .text .add-cart .cart {
  width: 200px;
  height: 45px;
  background-color: #f6c7a5;
  border-radius: 10px;
}

.section-1 .container .text .add-cart .cart .btn {
  color: white;
  font-size: 18px;
}

.section-1 .container .text .add-cart .cart i {
  color: white;
  padding-top: 10px;
  font-size: 25px;
}

.section-2 {
  margin-bottom: 190px;
}

.section-2 .container {
  max-width: 1710px;
}

.section-2 .container .card {
  border: none;
}

.section-2 .container .card .card-img-top {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.section-2 .container .card .mask {
  width: 96%;
  height: 73%;
  position: absolute;
  top: 0px;
  left: 2%;
  opacity: 0;
}

.section-2 .container .card .mask:hover {
  background-color: black;
  opacity: 0.6;
}

.section-2 .container .card .mask:hover .text {
  padding: 20% 10%;
  color: white;
}

.section-2 .container .card .mask:hover .text p {
  font-size: 14px;
  text-align: center;
}

.section-2 .container .card .card-body {
  padding: 20px 10px;
}

.section-2 .container .card .card-body h6 {
  font-weight: bold;
  margin-bottom: 20px;
}

.section-2 .container .card .card-body .price {
  margin-bottom: 20px;
}

.section-2 .container .card .card-body .add-cart .qty {
  width: 125px;
  height: 30px;
  background-color: #b9afa7;
  border-radius: 10px;
}

.section-2 .container .card .card-body .add-cart .qty .subBtn {
  margin-left: 30px;
  font-size: 20px;
  color: white;
}

.section-2 .container .card .card-body .add-cart .qty #number {
  width: 40px;
  font-size: 10px;
  padding: 0 5px;
  text-align: center;
  background-color: #b9afa7;
  border: none;
}

.section-2 .container .card .card-body .add-cart .qty #number::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

.section-2 .container .card .card-body .add-cart .qty #number:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.section-2 .container .card .card-body .add-cart .qty #number::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.section-2 .container .card .card-body .add-cart .qty #number::placeholder {
  color: white;
  opacity: 1;
}

.section-2 .container .card .card-body .add-cart .qty .addBtn {
  margin-right: 30px;
  font-size: 20px;
  color: white;
}

.section-2 .container .card .card-body .add-cart .cart {
  width: 125px;
  height: 30px;
  background-color: #f6c7a5;
  border-radius: 10px;
}

.section-2 .container .card .card-body .add-cart .cart .btn {
  color: white;
  font-size: 14px;
  padding-right: 5px;
}

.section-2 .container .card .card-body .add-cart .cart i {
  color: white;
  padding-top: 10px;
  font-size: 14px;
  padding-top: 0px;
}

.pics {
  position: relative;
}

.pics img {
  position: absolute;
  top: 5px;
  left: -30px;
}

.pics .pic-gray {
  position: absolute;
  top: 408px;
  left: 0px;
  width: 100%;
  height: 225px;
  background-color: #808080;
  z-index: -2;
}

.pics .pic-brown {
  position: absolute;
  top: 550px;
  right: 0px;
  width: 1610px;
  height: 85px;
  background-color: #c69c6d;
}
/*# sourceMappingURL=product.css.map */