@import "_style_guide.scss";

body {
    margin: 0;
}

.banner {
    background-image: url(/img/product/product-banner-1920x575.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    // width: 100vw;
    width: 100%;
    height: 575px;
    position: relative;
    margin-bottom: 135px;

    .title {
        width: 510px;
        height: 145px;
        text-align: center;
        background-color: white;

        position: absolute;
        bottom: -50px;
        left: calc(50% - 255px);
        h1 {
            margin-top: 47px;
            font-weight: bold;
            letter-spacing: 10px;
            color: $color-gray-2;
        }

        h6 {
            margin-top: 28px;
            letter-spacing: 5px;
            color: $color-gray-3;
        }
    }
}

.section-1 {
    // background-color: $color-pink-hover;
    background-image: url(/img/product/product-1920x750.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    margin-bottom: 100px;
    .types {
        background-color: white;
        .type {
            h3 {
                width: 260px;
                height: 90px;
                line-height: 90px;
                &:hover {
                    position: relative;
                    border-top: 3px solid #d0ae85;
                    border-right: 3px solid #d0ae85;
                    border-left: 3px solid #d0ae85;
                    &::after {
                        content: "";
                        width: 60%;
                        height: 3px;
                        background-color: #d0ae85;
                        position: absolute;
                        top: 80%;
                        left: 20%;
                    }
                }
            }
        }
    }
    .container {
        max-width: 1570px;
        .pic {
            margin-top: 90px;

            position: relative;
            .rank {
                width: 160px;
                height: 70px;
                background-color: $color-pink-hover;
                position: absolute;
                top: 30px;
                left: 0px;

                .rank-no {
                    font-size: 30px;
                    padding-bottom: 7px;
                }
                .rank-num {
                    font-size: 50px;
                    font-weight: bold;
                }
            }
        }
        .text {
            padding: 180px 0 95px 135px;
            h3 {
                font-size: 36px;
                letter-spacing: 3px;
                position: relative;
                &::after{
                    position: absolute;
                    top: 90px;
                    left: 0px;
                    content: "";
                    width: 260px;
                    height: 3px;
                    background-color: $color-brown;
                }
            }
            .content {
                margin-bottom: 80px;
                ul {
                    padding-left: 0;
                    li {
                        font-size: 20px;
                        line-height: 50px;
                    }
                }
            }
            .add-cart {
                margin-left: 80px;
                .qty {
                    width: 200px;
                    height: 45px;
                    background-color: $color-gray-1-hover;
                    border-radius: 10px;
                    .subBtn {
                        margin-left: 30px;
                        font-size: 20px;
                        color: white;
                    }
                    #number {
                        width: 40px;
                        text-align: center;
                        background-color: $color-gray-1-hover;
                        border: none;
                        &::placeholder {
                            color: white;
                            opacity: 1;
                        }
                    }

                    .addBtn {
                        margin-right: 30px;
                        font-size: 20px;
                        color: white;
                    }
                }
                .cart {
                    width: 200px;
                    height: 45px;
                    background-color: $color-orange-hover;
                    border-radius: 10px;
                    .btn {
                        color: white;
                        font-size: 18px;
                    }
                    i {
                        color: white;
                        padding-top: 10px;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

.section-2 {
    margin-bottom: 190px;
    .container {
        max-width: 1710px;
        .card {
            border: none;
           
            .card-img-top {
                width: fit-content;
                position: relative;

            }

            .mask{
                width: 96%;
                height: 73%;
                position: absolute;
                top:0px;
                left: 2%;
                opacity: 0;
              
                &:hover{
                    background-color: black;
                    opacity: 0.6;
                    .text{
                        padding: 20% 10%;
                        color: white;
                        p{
                            font-size: 14px;
                            text-align: center;
                        }
                    }
                }
            }

            .card-body {
                padding: 20px 10px;
                h6 {
                    font-weight: bold;
                    margin-bottom: 20px;
                }

                .price{
                    margin-bottom: 20px;
                }

                .add-cart {
                   
                    .qty {
                        width: 125px;
                        height: 30px;
                        background-color: $color-gray-1-hover;
                        border-radius: 10px;
                        .subBtn {
                            margin-left: 30px;
                            font-size: 20px;
                            color: white;
                        }
                        #number {
                            width: 40px;
                            font-size: 10px;
                            padding: 0 5px;
                            text-align: center;
                            background-color: $color-gray-1-hover;
                            border: none;
                            &::placeholder {
                                color: white;
                                opacity: 1;
                            }
                        }

                        .addBtn {
                            margin-right: 30px;
                            font-size: 20px;
                            color: white;
                        }
                    }
                    .cart {
                        width: 125px;
                        height: 30px;
                        background-color: $color-orange-hover;
                        border-radius: 10px;
                        .btn {
                            color: white;
                            font-size: 14px;
                            padding-right: 5px;
                        }
                        i {
                            color: white;
                            padding-top: 10px;
                            font-size: 14px;
                            padding-top: 0px;
                        }
                    }
                }
            }
        }
    }
}


.pics {
    position: relative;
    img {
        position: absolute;
        top: 5px;
        left: -30px;
    }
    .pic-gray {
        position: absolute;
        top: 408px;
        left: 0px;
        width: 100%;
        height: 225px;
        background-color: $color-gray-3;
        z-index: -2;
    }
    .pic-brown {
        position: absolute;
        top: 550px;
        right: 0px;

        width: 1610px;
        height: 85px;
        background-color: $color-brown;
    }
}

