@import "_style_guide.scss";

main {
    transition: 1s;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;

    // 表頭banner
    .banner {
        width: 100%;
        height: 575px;
        background-image: url(/img/cart-banner.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @media (max-width: 536px) {
            height: 300px;
        }
    }

    .title {
        width: 510px;
        height: 140px;
        padding-top: 54px;
        background-color: $bgc-white;
        text-align: center;
        position: absolute;
        top: 488px;
        left: calc(50% - 255px);

        @media (max-width: 536px) {
            width: 250px;
            padding-top: 25px;
            top: 260px;
            left: calc(50% - 125px);
        }

        h1 {
            font-weight: 600;
            color: $fc-title;
        }

        h5 {
            color: $fc-title-en;
        }
    }

    // 四個步驟
    .step-group {
        margin: auto;
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            width: 100%;
            justify-content: space-between;
        }

        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .circle {
                margin-top: 150px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 4px solid $comp-product-cart-btn;
                font-size: 36px;
                line-height: 36px;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;

                @media (max-width: 576px) {
                    margin-top: 100px;
                    width: 80px;
                    height: 80px;
                }
            }
            .c3 {
                background-color: $comp-product-cart-btn;
                color: $fc-white;
            }

            .txt {
                letter-spacing: 0px;
                font-weight: 600;
            }

            .t3 {
                color: $comp-product-cart-btn;
            }
        }
    }

    hr {
        min-width: 100%;
        border: 1px solid $fc-content;
        margin: 30px 0px;
    }


    // 商品列表
    .list {
        margin: auto;
        display: flex;
        justify-content: space-between;

        .title-txt {
            margin: 8px 0px;
            font-size: 24px;
            font-weight: 600;
            @media (max-width: 768px) {
                display: none;
            }
        }

        .detail-txt {
            margin: 10px 0px;
            font-size: 24px;
        }
    }
    .amount {
        margin: auto;
        display: flex;
        justify-content: flex-end;

        .detail-txt {
            width: 120px;
            margin: 5px 0px;
            font-size: 24px;
            text-align: right;
        }
    }

    .product-line {
        width: 80%;
        border: 1px dotted $comp-product-cart-btn;
        opacity: 0.5;
        margin: 8px 0px;
    }

    // 收貨人資料
    .recive-info {
        margin: auto;

        @media (max-width: 768px) {
            width: 90%;
        }

        h3 {
            padding-bottom: 30px;
            font-weight: 600;
        }

        label {
            font-size: 24px;
            line-height: 32px;
            text-align: right;

            @media (max-width: 768px) {
                font-size: 22px;
                line-height: 25px;
                text-align: left;
            }
        }

        .txt {
            font-size: 24px;
            line-height: 32px;

            @media (max-width: 768px) {
                font-size: 22px;
            }
        }
    }

    // 運送、付款、發票
    .shipment,
    .payment,
    .invoice,
    .message {
        margin: auto;
        font-size: 24px;
        line-height: 38px;

        @media (max-width: 768px) {
            width: 90%;
            font-size: 22px;
        }

        .mytag {
            font-weight: 600;
            text-align: right;
        }

        input[type="radio"] {
            -ms-transform: scale(1.3);
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
            position: relative;
            top: -3px;
        }
        textarea {
            width: 100%;
            @media (max-width: 768px) {
                width: 100%;
            }
            @media (max-width: 576px) {
                width: 100%;
            }
        }
    }

    // 底部按鈕
    .button-area {
        margin-top: 50px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            width: 100%;
        }

        @media (max-width: 576px) {
            flex-direction: column;
            align-items: center;
        }

        .mybtn {
            background-color: $comp-product-cart-btn;
            color: $fc-white;
            width: 230px;
            font-size: 24px;
            font-weight: 600;
            margin-top: 20px;
        }

        .mybtn:hover {
            background-color: $comp-product-cart-btn-hover;
        }

        .back {
            margin-right: 30px;

            @media (max-width: 576px) {
                margin-right: 0px;
            }
        }
    }
}
