@import "_style_guide.scss";

// footer

.footer-box {
    width: 100%;
    padding: 50px;
    background-color: $bgc-footer;
    display: flex;

    @media (max-width: 950px) {
        flex-direction: column-reverse;
    }

    .box-left {
        width: 55%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media (max-width: 950px) {
            width: 100%;
        }

        a {
            text-decoration: none;
            color: $fc-white;
        }
        .up {
            height: 60%;
            display: flex;
            justify-content: center;

            @media (max-width: 1500px) {
                height: 300px;
            }
            @media (max-width: 1300px) {
                height: 250px;
            }
            @media (max-width: 640px) {
                height: unset;
                flex-direction: column;
                align-items: center;
            }

            .logo {
                background-image: url(/img/CHOMEET-LOGO-White.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 210px;
                height: 320px;
                display: flex;
                justify-content: center;
                align-items: left;
                margin-right: 90px;

                @media (max-width: 1500px) {
                    width: 180px;
                    height: 290px;
                    margin-right: 50px;
                }
                @media (max-width: 1300px) {
                    width: 180px;
                    height: 240px;
                    margin-right: 30px;
                }
                @media (max-width: 1080px) {
                    width: 150px;
                    height: 200px;
                    margin-right: 10px;
                }
                @media (max-width: 950px) {
                    width: 200px;
                    height: 230px;
                }
                @media (max-width: 640px) {
                    width: 150px;
                    height: 200px;
                    margin-bottom: 20px;
                }
            }

            .info {
                height: 320px;

                @media (max-width: 1500px) {
                    height: 300px;
                }
                @media (max-width: 1300px) {
                    height: 250px;
                }
                @media (max-width: 1080px) {
                    height: 200px;
                }
                @media (max-width: 950px) {
                    height: 220px;
                }

                .social {
                    color: $fc-white;
                    font-size: 40px;

                    @media (max-width: 1500px) {
                        font-size: 35px;
                    }
                    @media (max-width: 1300px) {
                        height: 60px;
                    }
                    @media (max-width: 1080px) {
                        height: 50px;
                        font-size: 25px;
                    }
                    @media (max-width: 950px) {
                        font-size: 30px;
                        margin-top: 20px;
                    }

                    i {
                        margin-right: 20px;
                    }
                    i:hover {
                        filter: opacity(0.5);
                    }
                }

                .text {
                    color: $fc-white;
                    font-size: 24px;
                    line-height: 40px;
                    @media (max-width: 1500px) {
                        font-size: 20px;
                        line-height: 36px;
                    }
                    @media (max-width: 1300px) {
                        font-size: 18px;
                        line-height: 30px;
                    }
                    @media (max-width: 950px) {
                        font-size: 20px;
                        line-height: 30px;
                    }
                    @media (max-width: 536px) {
                        font-size: 20px;
                        line-height: 35px;
                        margin-top: 20px;
                    }
                }
            }
        }

        .down {
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .mymodal {
                background-color: #3d312e;
                border: 0;
                color: $fc-white;
                letter-spacing: 10px;
                width: 680px;
                height: 187px;
                border-radius: 15px;
                border: 2px solid $fc-white;
                font-size: 45px;
                display: flex;
                justify-content: center;
                align-items: center;

                @media (max-width: 1500px) {
                    width: 580px;
                    height: 150px;
                    font-size: 40px;
                }
                @media (max-width: 1300px) {
                    width: 500px;
                    height: 120px;
                    font-size: 35px;
                }
                @media (max-width: 1080px) {
                    width: 400px;
                    height: 100px;
                    font-size: 30px;
                }
                @media (max-width: 950px) {
                    width: 80%;
                    margin-top: 30px;
                }
                @media (max-width: 640px) {
                    height: 100px;
                    font-size: 30px;
                    margin-top: 60px;
                }
                @media (max-width: 536px) {
                    width: 90%;
                    margin-top: 100px;
                }

                @media (max-width: 536px) {
                    letter-spacing: 3px;
                }

                span {
                    position: relative;
                    top: -5px;
                }
                
                .fa-envelope {
                    font-size: 60px;
                    color: $fc-white;
                    margin-right: 60px;
    
                    @media (max-width: 1500px) {
                        font-size: 50px;
                        margin-right: 30px;
                    }
                    @media (max-width: 1300px) {
                        font-size: 45px;
                        margin-right: 15px;
                    }
                    @media (max-width: 1080px) {
                        font-size: 40px;
                        margin-right: 10px;
                    }
                    @media (max-width: 536px) {
                        margin-right: 5px;
                    }
                }
            }

            .mymodal:hover {
                background-color: $bgc-nav;
            }

            .copy {
                width: 680px;
                font-size: 20px;
                color: $fc-white;
                margin-top: 30px;

                @media (max-width: 1500px) {
                    width: 580px;
                    margin-top: 30px;
                }
                @media (max-width: 1300px) {
                    width: 500px;
                    margin-top: 30px;
                }
                @media (max-width: 1080px) {
                    width: 400px;
                    margin-top: 20px;
                }
                @media (max-width: 950px) {
                    width: 540px;
                    margin-top: 20px;
                    margin-bottom: 50px;
                    text-align: center;
                }
                @media (max-width: 536px) {
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .box-right {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 950px) {
            width: 100%;
        }

        .vrtical-line {
            width: 2px;
            height: 60%;
            background-color: $bdc-product-hover;
            position: absolute;
            left: calc(100vw - 45%);

            @media (max-width: 950px) {
                display: none;
            }
        }

        .map {
            width: 80%;
            height: 90%;
            filter: grayscale(1);
            opacity: 0.65;

            @media (max-width: 1300px) {
                height: 500px;
            }
            @media (max-width: 950px) {
                width: 95%;
                height: 200px;
                margin-bottom: 50px;
                margin-top: 50px;
            }
            @media (max-width: 536px) {
                width: 100%;
            }
        }
        .map:hover {
            filter: contrast(1);
            opacity: 1;
        }
    }
}
