@import "_style_guide.scss";

@mixin news_1500px {
    @media (min-width: 1500px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1205px) {
        @content;
    }
}

@mixin notebook {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin pad {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: 576px) {
        @content;
    }
}

.banner {
    position: relative;
    img {
        max-width: 100%;
        min-height: 236px;
        z-index: -1;

        @include mobile {
            content: url(/img/news/news-1920x575.jpg);
        }
    }
    margin-bottom: 40px;

    @include pad {
        margin-bottom: 80px;
    }

    @include desktop {
        margin-bottom: 100px;
    }

    @include news_1500px {
        margin-bottom: 135px;
    }

    .title {
        width: 270px;
        height: 100px;
        text-align: center;
        background-color: white;

        position: absolute;
        bottom: -50px;
        left: calc(50% - 135px);

        @include pad {
            width: 510px;
            height: 145px;
            bottom: -50px;
            left: calc(50% - 255px);
        }
        h1 {
            margin-top: 20px;
            font-weight: bold;
            letter-spacing: 5px;
            color: $fc-title;
            @include pad {
                margin-top: 47px;
                letter-spacing: 10px;
            }
        }

        h5 {
            margin-top: 10px;
            text-align: center;
            color: $fc-title-en;
            letter-spacing: 5px;

            @include pad {
                margin-top: 28px;
                letter-spacing: 5px;
            }
        }
    }
}

.section-1 {
    margin-top: 80px;
    margin-bottom: 65px;

    @include pad {
        margin-top: 140px;
        margin-bottom: 190px;
    }
    .container {
        max-width: 100%;
        margin: auto;
        position: relative;

        @include pad {
            max-width: 95%;
        }

        .news-area {
            background-color: $bgc-decorate;
            padding-top: 35px;
            padding-left: 55px;
            padding-right: 55px;
            padding-bottom: 30px;
            // padding: 35px 55px;
            position: relative;

            @include notebook {
                // padding-top: 125px;
                // padding-left: 210px;
                // padding-bottom: 25px;
                padding: 100px 60px 5px;
            }

            .title {
                margin-bottom: 100px;
                letter-spacing: 5px;
                h1 {
                    margin-bottom: 10px;

                    color: rgb(77, 77, 77);
                }
                h5 {
                    margin-bottom: 95px;
                    margin-left: 245px;
                    color: rgb(128, 128, 128);
                    position: relative;

                    &::after {
                        content: "";
                        width: 200px;
                        height: 2px;
                        background-color: rgb(187, 145, 109);
                        position: absolute;
                        left: -210px;
                        top: 50%;
                    }
                }
            }

            .swiper-container {
                padding-bottom: 50px;

                @include pad{
                    padding-bottom: 100px;
                }
                .swiper-pagination-bullets {
                    
                    top: 85%; 
                    @include mobile{
                        top: 90%;   

                    }
                    @include pad {
                        top: 90%;    
                    }

                    @include notebook{
                        top: 90%;  

                    }

                    @include desktop{
                        top: 85%;  

                    }
                    .swiper-pagination-bullet {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $comp-link;
                        

                        @include pad {
                            width: 25px;
                            height: 25px;
                        }
                        &:hover {
                            background-color: $comp-link-hover;
                        }
                    }
                }
            }

            .col-12 {
                // .second {
                //     @include news_1500px {
                //         margin-left: 300px;
                //     }
                // }

                .news-group {
                    justify-content: space-around;
                    @include news_1500px {
                        justify-content: start;
                    }
                }

                .news {
                    margin-bottom: 50px;
                    margin-right: 0px;
                    width: fit-content;
                    @include pad {
                        margin-right: 50px;
                    }

                    .date {
                        min-width: 90px;
                        height: 90px;

                        @include pad {
                            width: 210px;
                            height: 210px;
                        }

                        background-color: rgb(198, 162, 128);
                        position: relative;

                        .month {
                            font-size: 30px;
                            font-weight: 100;
                            color: white;
                            padding-left: 10px;

                            @include pad {
                                font-size: 68px;
                                padding-left: 20px;
                            }
                        }
                        .day {
                            font-size: 30px;
                            font-weight: 100;
                            color: white;
                            text-align: right;
                            padding-right: 10px;

                            @include pad {
                                font-size: 68px;
                                padding-right: 20px;
                            }
                        }

                        .slash {
                            position: absolute;
                            top: 10%;
                            left: 10%;
                            transform: rotate(0deg);

                            @include pad {
                                transform: rotate(-2deg);
                                top: 15%;
                                left: 13%;
                            }

                            img {
                                width: 70px;
                                height: 70px;

                                @include pad {
                                    width: 150px;
                                    height: 150px;
                                }
                            }
                        }

                        // &:hover {
                        //     content: url("http://dummyimage.com/90x90/eb00eb/fff");

                        //     @include pad {
                        //         content: url("http://dummyimage.com/210x210/eb00eb/fff");
                        //     }
                        // }
                    }

                    .text {
                        position: relative;
                        background-color: white;
                        padding: 10px 20px 0 10px;
                        border-radius: 0px 18px 18px 0;

                        width: 175px;
                        @include mobile {
                            width: 100%;
                        }

                        @include pad {
                            padding: 28px 43px 65px 30px;
                            width: 60%;
                            border-radius: 0px 20px 20px 0;
                        }

                        h3 {
                            font-size: 14px;
                            font-weight: bold;
                            letter-spacing: 0px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;

                            @include pad {
                                font-size: 30px;
                            }
                        }
                        p {
                            font-size: 12px;
                            letter-spacing: 0px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            //行數限制
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            white-space: normal;

                            @include pad {
                                font-size: 18px;
                                -webkit-line-clamp: 3;
                            }
                        }
                        .more {
                            font-size: 14px;
                            position: absolute;
                            bottom: 10%;
                            right: 10%;

                            @include pad {
                                font-size: 20px;
                                bottom: 22px;
                                left: 69%;
                            }
                        }
                    }
                }
            }
        }

        .links {
            margin-top: -25px;

            @include pad {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .link {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $comp-link;

                @include pad {
                    width: 25px;
                    height: 25px;
                }
                &:hover {
                    background-color: $comp-link-hover;
                }
            }
        }
    }
}

.section-2 {
    margin-bottom: 90px;

    @include pad {
        margin-bottom: 170px;
    }
    .container {
        max-width: 85%;

        @include pad {
            max-width: 1340px;
        }
        .title {
            margin-bottom: 45px;
            position: relative;

            @include pad {
                margin-bottom: 165px;
            }
            &::after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: $fc-line;

                position: absolute;
                bottom: -15px;
                left: 0px;
            }
        }

        .pic {
            img {
                width: 300px;
                height: auto;

                @include mobile {
                    width: 400px;
                }

                @include pad {
                    width: 450px;
                }

                @include notebook {
                    width: 500px;
                }

                @include desktop {
                    width: 650px;
                }

                @include news_1500px() {
                    width: 800px;
                }
            }
        }

        .text {
            margin-top: 40px;

            @include pad {
                padding-left: 30px;
                padding-right: 20px;
                margin-top: 0px;
            }

            @include notebook {
                padding-left: 50px;
                padding-right: 30px;
            }

            h3 {
                font-weight: bold;
                margin-bottom: 30px;
                position: relative;
                text-align: center;

                @include pad {
                    margin-bottom: 60px;
                    text-align: left;
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: $fc-line;

                    position: absolute;
                    bottom: -10px;
                    left: 0%;

                    @include pad {
                        width: 105%;
                        bottom: -30px;
                        left: 0px;
                    }
                }
            }

            h5 {
                line-height: 30px;
            }

            a {
                text-align: end;
            }

            .link-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 30px;
                margin: auto;
                margin-top: 35px;
                border-radius: 8px;
                color: white;
                background-color: $comp-link;
                &:hover {
                    background-color: $comp-link-hover;
                }

                @include pad {
                    display: none;
                }
            }
        }
    }
}

.section-3 {
    background-color: $bgc-white;
    padding: 20px 0 70px;
    margin-bottom: 30px;

    @include pad {
        background-color: $bgc-decorate;
        padding: 60px 0 70px;
        margin-bottom: 70px;
    }
    .container {
        max-width: 90%;

        @include news_1500px {
            max-width: 1340px;
        }

        .report {
            border: 2px solid $comp-link;
            padding: 0px 10px 20px;

            @include pad {
                border: none;
            }

            .pic {
                width: 100px;
                height: 100px;

                @include mobile {
                    width: 200px;
                    height: 200px;
                }

                @include pad {
                    width: 300px;
                    height: 400px;
                }

                @include notebook {
                    width: 400px;
                    height: 500px;
                }

                @include desktop {
                    width: 500px;
                    height: 500px;
                }

                img {
                    max-width: 100%;
                    height: auto;
                }
            }
            .text {
                margin-top: 20px;
                display: flex;
                flex-direction: column;

                h3 {
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 20px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    //行數限制
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    white-space: normal;
                }
                h5 {
                    text-align: center;
                    line-height: 30px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    //行數限制
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    white-space: normal;

                    @include pad {
                        line-height: 30px;
                    }
                }

                .link-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 20%;
                    // width: 150px;
                    // height: 30px;
                    margin: auto;
                    margin-top: 35px;
                    border-radius: 8px;
                    color: white;
                    background-color: $comp-link;
                    &:hover {
                        background-color: $comp-link-hover;
                    }

                    @include pad {
                        display: none;
                    }
                }
            }
        }
    }
}

.pic-md {
    margin-bottom: 40px;

    @include pad {
        margin-bottom: 95px;
    }
}

.section-4 {
    .container {
        max-width: 90%;

        @include news_1500px {
            max-width: 1680px;
        }
        .title {
            margin-bottom: 65px;
            position: relative;

            @include pad {
                margin-bottom: 75px;
            }

            @include notebook {
                margin-bottom: 90px;
            }

            @include desktop {
                margin-bottom: 125px;
            }

            &::after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: $fc-line;

                position: absolute;

                bottom: -15px;
                left: 0px;
            }
        }
        .activity {
            margin-bottom: 15px;
            border: 1px solid black;
            padding: 5px;

            @include pad {
                border: none;
                padding: 0px;
                margin-bottom: 30px;
            }

            .pic {
                width: 210px;
                height: 135px;

                img {
                    max-width: 100%;
                    height: auto;
                }

                @include mobile {
                    width: 210px;
                    height: 135px;
                }

                @include pad {
                    width: 350px;
                    height: 300px;
                }

                @include notebook {
                    width: 400px;
                    height: 350px;
                }

                @include desktop {
                    width: 600px;
                    height: 450px;
                }

                @include news_1500px() {
                    width: 750px;
                    height: 530px;
                }
            }

            .text {
                h3 {
                    margin-bottom: 10px;
                    position: relative;

                    @include pad {
                        margin-bottom: 10px;
                    }

                    @include notebook {
                        margin-bottom: 10px;
                    }

                    @include desktop {
                        margin-bottom: 20px;
                    }

                    @include news_1500px {
                        margin-bottom: 30px;
                    }
                    &::after {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-color: $fc-line;

                        position: absolute;
                        bottom: -8px;
                        left: 0px;

                        @include pad {
                            width: 60%;
                            bottom: -10px;
                            left: 0px;
                        }
                    }
                }
                .bg-color {
                    padding: 0px;

                    @include pad {
                        padding: 10px 10px;
                    }

                    @include desktop {
                        padding: 30px 10px;
                    }

                    @include news_1500px {
                        padding: 0px 0px;
                    }

                    h5 {
                        line-height: 20px;

                        @include notebook {
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
}
